style.css 

body {
    display: flex;
    
}

.header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
    color: white;
    background-color: black;
    
}

ul.links{
    list-style: none;
    display: flex;
    margin: 0px;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.layer{
    background-color: black;
    color: white;
    display: flex;
}
