style.css 

body {
    display: flex;
    
}

.header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-color: black;
    padding-right: 450px;
    padding-left: 300px;
    padding-bottom: 50px;
    
}
.logo{
    font-weight: 700;
}

ul.links{
    list-style: none;
    display: flex;
    margin: 0px;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.layer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-right: 450px;
    padding-left: 300px;
    align-items: center;
    padding-bottom: 60px;
    
}
.overwatch{
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 8px;
}

.layer2 {
    width: 250px;
    
}
.layerinfo {
    padding-bottom: 8px;
}
.choose {
    padding: 8px;
    color: white;
    background-color: blue;
    border: 0px;
}
