style.css 

body {
    display: flex;
    text-align: center;

}

.header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-color: black;
    padding-right: 500px;
    padding-left: 500px;
    padding-bottom: 50px;
    
}
.logo{
    font-weight: 700;
}

ul.links{
    list-style: none;
    display: flex;
    margin: 0px;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.layer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-right: 500px;
    padding-left: 500px;
    align-items: center;
    padding-bottom: 60px;
    
}
.overwatch{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 8px;
}

.layer2 {
    width: 250px;
    
}
.layerinfo {
    padding-bottom: 8px;
}
.choose {
    padding: 8px;
    color: white;
    background-color: blue;
    border: 0px;
}
.tracer img{
    height: 400px;
    padding-right: 100px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: grey;
    text-align: center;
    
}

.role{
    padding: 32px;
    text-align: center;
    background-color: grey;
}

.text{
    max-width: 200px;
    text-align: center;
    background-color: grey;
    
    
}
